<launch>
  <param name="robot_description" command="cat '$(find tom_3d_simulation)/urdf/tom_3d.urdf.xacro'" />
  

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>
