<?xml version="1.0"?>
<launch>
        <arg name="robotname" value="tom_3d"/>

        <arg name="navigation" value="true"/> 

        <arg name="localplanner" value="dwa"/>

<!--******************************************* MOVE BASE *************************************************************-->

 <group if="$(arg navigation)">
    <include file="$(find tom_3d_simulation)/config/navigation/$(arg localplanner)_local_planner/$(arg robotname)_movebase_$(arg localplanner).launch"/>
 </group> 


</launch>

