<launch>
    <node name="pid_controller" pkg="tom_3d_control" type="pid_controller" ns="left_motor" output="screen" >
      <param name="Kp" value="0.55" />
      <param name="Ki" value="0.33" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="60" />
      <param name="lower_limit" value="-60" />
      <remap from="/pwm_values" to="/left_motor/pwm_values" />
      <remap from="/pwm_control_values" to="/left_motor/pwm_control_values" />
     </node>

    <node name="pid_controller" pkg="tom_3d_control" type="pid_controller" ns="right_motor" output="screen" >
      <param name="Kp" value="0.55" />
      <param name="Ki" value="0.33" />
      <param name="Kd" value="0.0" />
      <param name="upper_limit" value="60" />
      <param name="lower_limit" value="-60" />
      <remap from="/pwm_values" to="/right_motor/pwm_values" />
      <remap from="/pwm_control_values" to="/right_motor/pwm_control_values" />
     </node>

    <!-- rqt_plot is a resource hog, so if you're seeing high CPU usage, don't launch it 
    <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
    args="/right_motor/pwm_values /right_motor/pwm_control_values
    /left_motor/pwm_values /left_motor/pwm_control_values" />-->


</launch>
